[submodule "plugged/tortus"]
	path = plugged/tortus
	url = https://github.com/KnoP-01/tortus
[submodule "plugged/vimbuddy"]
	path = plugged/vimbuddy
	url = https://github.com/KnoP-01/vimbuddy
[submodule "plugged/vim-misc"]
	path = plugged/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "plugged/vim-shell"]
	path = plugged/vim-shell
	url = https://github.com/xolox/vim-shell
[submodule "plugged/vim-vinegar"]
	path = plugged/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugged/vim-qf"]
	path = plugged/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "plugged/vim-matrix-screensaver"]
	path = plugged/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver
[submodule "plugged/vim-tradewinds"]
	path = plugged/vim-tradewinds
	url = https://github.com/andymass/vim-tradewinds
[submodule "plugged/increment.vim--Avadhanula"]
	path = plugged/increment.vim--Avadhanula
	url = https://github.com/vim-scripts/increment.vim--Avadhanula
